body {
  background: #eae8d9;
}
header {
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: 400px;
  max-width: 1920px;
  width: 100%;
  height: 150px;
  background: url(../common/header-bg.jpg) no-repeat;
  background-size: 100%;
}
.name {
  text-align: left;
  width: 50%;
}
.phone {
  width: 3%;
  text-align: right;
  margin: 0 1% 0 38%;
}
.mail {
  width: 3%;
  text-align: right;
  margin: 0 1% 0 1%;
}
.image {
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.image img {
  display: block;
}
.image .caption {
  box-sizing: border-box;
  width: 100%;
  padding: 2px;
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  color: #fff;
  font: 11px/16px Tahoma, sans-serif;
}
.content {
	padding: 120px;
	text-align: center;
}
footer {
	position: absolute;
	left: 0;
	bottom: 0;
    height: 16px;
	width: 100%;
	padding: 2px;
	background: #313131;
	color: #e8ebff;
	font: 8pt Tahoma;
	text-align: center;
}